#car-details{
    padding: 20px 40px; 
}
#car-details .col-md-8{
    padding: 0 15px!important;
}
#car-details .btn-red{
    left:0;
    margin-top : 10px;
}
#car-list{
   padding: 20px 40px; 
}
#monster , #ultra , #monster{
   padding: 20px 40px; 
}
.clients-sec{
    padding: 20px 40px;
}
.our-qualities{
    padding: 20px 40px;   
}
.our-team{
    padding: 20px 40px;
}
.res-hidden{
    display: none;
}
.service-tag:after{
    width: 30%;
    border-top: 20px solid rgba(0,0,0,.2);
    border-right: 125px solid transparent;
}
.service-tag:before{
    width: 30%;
    border-top: 20px solid rgba(0,0,0,.2);
    border-left: 125px solid transparent;
}
.title{
    width: 100%;
    text-align: center;
}
.title p{
    font-size: 28px;
}
.title:after{
    padding-top: 0;
    width: 20px;
    border-bottom: 1px solid #111;
}
.section-title .dash:before{
    left: 44.5%;
}
.section-title .dash:after{
    left: 52%;
}
.middle , .right{
    display: none;
}
#monster .left{
    z-index: 999;
    height: 200px;
    width: 100%;
    left: 0;
    top: 0;
}
#car-list .img-list{
    padding-left: 0!important;
    padding-right: 0!important;
}
#car-list .desc{
    margin-left: 0!important;
    margin-right: 0!important;
}
.footer-logo{
    margin-bottom: 30px;
}
#footer .main-row{
    display: grid;
    grid-template-columns: 12fr;
    grid-gap: 0;
}
#footer .dates-row{
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 3rem;
    margin-bottom: 30px!important;
}
#footer .dates-row .dates-head>p{
    font-size: 14px;
}
#footer .footer-gal{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 0;
}
#footer .website-info{
    display: grid;
    grid-template-columns: 12fr;
    text-align: center;
    grid-gap: 0!important;
}

#footer .website-info p, #footer .website-info li{
    line-height: 20px;
    margin: 8px 0!important;
}
#footer .website-info ul{
    float: none!important;
    padding: 0!important;
}
#showcase{
    background-image: none;
    position: relative;
}
#showcase:before{
    display: hidden;
}
#showcase .showcase-img{
    height: 40vh;   
}
#showcase .col-md-5{
    padding-right: 0!important;
}
#showcase .col-md-5:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.7);  
}
#showcase .col-md-7{
    text-align: center;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
}
#showcase .showcase-text{
    transform: translateY(30%);
}
#showcase .showcase-text p:first-child{
    font-size: 12px;
    line-height: 12px;
}
#showcase .showcase-text p:nth-child(2){
    font-size: 20px;
    line-height: 20px;
}
#showcase .showcase-text p:nth-child(3){
    display: none;
}
#showcase .showcase-text{
    transform: translateY(70%);
}
#ultra .col-md-4{
    padding-bottom: 0!important;
    text-align: center;
}
#ultra .col-md-4 p{
    margin: 0!important;
}
#monster .monster-cards .col-md-4{
    width: 100%!important;
    margin-bottom: 20px!important;
}
#monster .monster-cards .icons{
  
    transform: translateY(-40%);
}
#monster .monster-cards .p-title{
    transform: translateY(-40%);
}
#monster .monster-card p:nth-child(3){
    transform: translateY(-20%);
}
.owl-carousel .item{
    width: 100%!important;
}
.owl-carousel{
    height: 350px; 
}
.owl-nav{
    position: relative;
    top: -170px;
}
#rent-car-header .title,#about-us-header .title{
    transform: translateX(-50%) translateY(25px);
    
}