/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        primary : #E84C3D
============================================ */

/******************************************************
                    GENERAL
******************************************************/
html,body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway',sans-serif;
}
p{
    font-family: 'Montserrat';
    line-height: 23px;
    font-weight: 400;
    font-size: 13px;
}
a{
    color: none;
}
a,
a:hover,
a:focus{
    text-decoration: none;
}
section{
    background: #fff;
}
img{
    width: 100%;
    height: 100%;
}
/******************************************************
                LINE ICON SETTING
******************************************************/
[class*='lni-']{
    display: inline-block;
}


/******************************************************
                CONTENT BOX
******************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 40px 0;
}

/************************************************************************
                            HELPER CLASSES
************************************************************************/
.m-l-10{
    margin-left: 10px!important;
}
.m-l-15{
    margin-left: 15px!important;
}
.m-0{
    margin: 0!important;
}
.m-10{
    margin: 10px!important;
}
.m-30{
    margin: 30px!important;
}
.m-50{
    margin: 50px!important;
}
.m-70{
    margin: 70px!important;
}
.m-90{
    margin: 90px!important;
}
.m-100{
    margin: 100px!important;
}
.m-120{
    margin: 120px!important;
}
.m-r-30{
    margin-right: 30px!important;
}
.m-r-35{
    margin-right: 35px!important;
}
.m-r-20{
    margin-right: 20px!important;
}
.m-t-10{
    margin-top: 10px!important;
}
.m-t-20{
    margin-top: 20px!important;
}
.m-t-30{
    margin-top: 30px!important;
}
.m-t-50{
    margin-top: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
.m-t-90{
    margin-top: 90px!important;
}
.m-t-100{
    margin-top: 100px!important;
}
.m-t-120{
    margin-top: 120px!important;
}
.m-b-0{
    margin-bottom: 0px!important;
}
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}!important
.m-b-70{
    margin-bottom: 70px!important;
}
.m-b-90{
    margin-bottom: 90px!important;
}
.m-b-100{
    margin-bottom: 100px!important;
}
.m-b-120{
    margin-bottom: 120px!important;
}
.p-0{
    padding: 0!important;
}
.p-r-30{
    padding-right: 30px!important;
}
.p-l-30{
    padding-left: 30px!important;
}
.m-auto{
    margin: 0 auto!important;
}


.p-100{
    padding: 100px!important;
}

.p-t-0{
    padding-top: 0px!important;
}
.p-t-100{
    padding-top: 100px!important;
}
.p-b-100{
    padding-bottom: 100px!important;
}

.p-r-l-40{
    padding-left: 40px!important;
    padding-right: 40px!important;
}


/******************************************************
                GENERAL HEADING
******************************************************/
.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}
.vertical-heading h5{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}
.vertical-heading h2,
.horizontal-heading h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 45px;
}
#stats .vertical-heading h2{
    color: #fff;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
}
.highlight-heading{
    color: #5c9320;
    font-weight: 700;
}
.horizontal-heading{
    text-align: center;
}
.horizontal-heading h2{
    margin: 0;
}
.horizontal-heading h5{
    margin-bottom: 5px;
}
.container{
    height: 100%;
}
.row{
/*    height: 100%;*/
    width: 100%;
    margin: 0;
}
.col-md-12{
    height: 100%;
}
.col-md-6{
    padding: 0;
    height: 100%;
}
.col-md-1{
    padding-right: 0;
    padding-left: 0;
}
.col-md-3{
    padding-top: 0;
    padding-bottom: 0;
}
/************************************************************************
                            TWEAKING BOOTSTRAP
************************************************************************/
.row.no-gutters [class*='col-']{
    padding: 0;
}

/************************************************************************
                                ABOUT US
************************************************************************/
#about-us-header{
    background-image: url("../img/about-img/header-img2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
}
#about-us-header:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.7);  
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.title:after{
    content: '';
    position: absolute;
    padding-top: 5px;
    width: 35px;
    height: 1.3px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
}
#about-us-header .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#about-us-header .title:after{
    content: '';
    position: absolute;
    padding-top: 5px;
    width: 35px;
    height: 1.3px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #000;
}
.title p{
    font-size: 4.2rem;
    font-weight: 300;
}
.p-title{
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
} 
.p-title:after{
    content: '';
    position: absolute;
    width: 25px;
    height: 1.58px;
    background-color: #000;
    border-radius: 25%;
    right: 0;
    bottom: 0;
}
.btn-red{
    padding: 10px 15px;
    background-color: #E84C3D!important;
    color: #fff!important;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
}
.btn-red a{
    background-color: #E84C3D;
    color: #fff;
}
.btn-black{
    padding: 10px 15px;
    background-color: #777;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
}
.btn-black a{
    background-color: #777;
    color: #fff;
}
.page-item a{
    color: #333!important;
    background: #fff!important;
    margin-left: 5px!important;
}
.active a{
    background: #E84C3D!important;
    color: #fff!important;
    border: 1px #e84c3d solid!important;
}
/************************************************************************
                               DETAIL IN ABOUT US
************************************************************************/
#detail{
    padding: 40px 0 0 0;
}
.section-title{
    color: black;
    text-align: center;
    padding-bottom: 20px;
}
.section-title p{
    margin: 0;
    word-spacing: 0;
}
.section-title .main-title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.2rem;
}
.section-title .main-title span{
    font-weight: bold;
}
.section-title .sub-title{
    font-weight: 600;
    color: #aaa;
    line-height: 1.5rem;
}
.section-title .dash{
    font-weight: bold;
    font-size: 1rem;
    position: relative;
}
.section-title .dash:before{
    content: '___';
    position: absolute;
    top: 50%;
    transform: translateY(-69%);
    left: 47.8%;
    font-weight: bold;
}
.section-title .dash:after{
    content: '___';
    position: absolute;
    top: 50%;
    transform: translateY(-69%);
    left: 51%;
    font-weight: bold;
}
.offer{
    padding: 70px 15px 70px 120px;
    text-align: right;
    font-size: 1.2rem;
    background-color: #fAfAfA;
}

.offer .text{
    color: #aaa;
    font-weight: 500;
    font-size: 1.15rem;
}
.offer .btn{
    margin-top: 10px;
    background: #E84C3D;
    color: #fff;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 7px;
}
.offer .btn p{
    display: inline-block;
    margin: 0;
    margin-left: 5px;
    font-size: 12px;
    line-height: 12px;
}
.best-car-img{
    height: 309px;
}

/************************************************************************
                                TEAM
************************************************************************/

#team{
    padding: 40px 0 0 0;
    background-color: #E84C3D;
}
#team .section-title , #team .section-title .sub-title{
    color: #fff;
}
.our-team{
    margin-top: 40px;
    padding: 20px 120px;
    background-image: url("../img/about-img/team.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}
.our-team .team-card{
    width: 100%;
    height: 100%;
}
.our-team .team-card .team-img{
    filter: grayscale(80%);
}
.our-team .team-card .team-info{
    text-align: center;
    color: white;
    background-color: #E84C3D;
    padding: 25px 0;
}
.our-team .team-card .team-info p{
    margin: 0;
    line-height: 17px;
}
.our-team .team-card .team-info .position{
    font-size: 12px;
}
.our-team .team-card .team-info p:first-child{
    font-weight: 600;
    font-size: 17px;
}
.our-team .team-card .team-info p i{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}


/************************************************************************
                                QUALITY
************************************************************************/
#quality{
    padding: 40px 0;
    background-image: url("../img/about-img/quality.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
#quality:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
}
.our-qualities{
    padding: 20px 120px;
    
}
.our-qualities .to-right{
    text-align: right;
}
.our-qualities .to-left{
    text-align: left;
}
.our-qualities .to-left .p-title:after{
    left: 0;
    bottom: 0;
}
.our-qualities .more-about-us-card{
    margin-bottom: 30px;
}
.our-qualities .more-about-us-card p:first-child{
    display: inline-block;
}
.our-qualities .more-about-us-card p:last-child{
    font-size: 11px;
    color: #333;
    line-height: 16px;
}
.our-qualities .more-about-us-icon{
    height: 135px;
}
.our-qualities .more-about-us-icon span{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background: #E84C3D;
    text-align: center;
    line-height: 40px;
}
.car-img{
    padding-left: 50px;
    height: 475px;
}
.car-img1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -20px;
}
.car-img2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -80px;
}
.more-about-us-icon-right , .col-md-1-right{
    width: 45px;
}
.service-tag{
    background-color: #fafafa;
    padding: 10px 30px;
    border-left: 5px solid #E84C3D;
    position: relative;
}
.service-tag:after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 50%;
    width: 40%;
    border-top: 20px solid rgba(0,0,0,.2);
    border-right: 350px solid transparent;
}
.service-tag:before{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 40%;
    border-top: 20px solid rgba(0,0,0,.2);
    border-left: 350px solid transparent;
}
.service-tag p:first-child{
    font-weight: bold;
    font-size: 2rem;
}
.service-tag .btn-service{
    padding: 15px 10px;
    background: #E84C3D;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    align-self: center;
    margin-top: 12px;
}

/************************************************************************
                                CLIENTS
************************************************************************/
#clients{
    padding: 40px 0;
}
.clients-sec{
    padding: 20px 120px;
}
.clients-sec .p-title:after{
    left: 0;
}
.clients-sec .child2{
    color: #aaa;
    font-size: 12px;
}
.check{
    margin-top: 25px;
}
.checkmark{
    margin-top: 5px;
}
.checkmark i{
    color: #E84C3D;
    margin-right: 5px;
    font-size: 18px;
}
.checkmark span{
    color: #777;
}
.happy-clients{
    width: 100%;
    height: 100%;
    border: 1px solid #bbb;
    text-align: center;
    padding: 0 15px;
}
.happy-clients .count{
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: #E84C3D;
    line-height: 100px;
    border-radius: 50%;
    border: 3px solid #E84C3D;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
}
.happy-clients .p-title:after{
    left: 50%;
    transform: translateX(-50%);
}
.happy-clients p:last-child{
    line-height: 20px;
    color: #aaa;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.happy-clients-blue .count{
    color: #0F9CFA;
    border: 3px solid #0F9CFA;
}
/************************************************************************
                                RENT CAR
************************************************************************/
#rent-car-header{
    background-image: url("../img/about-img/header-img2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 240px;
    position: relative;
}
#rent-car-header:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.7);  
}

/************************************************************************
                                CAR LIST
************************************************************************/

#car-list{
   padding: 20px 120px; 
}
#car-list .pagination{
    margin-top: 0!important;
    position: relative;
    top: -25px;
}
.date-chooser .choose-btn{
    width: 150px;
}
.choose-btn{
    display: inline-block;
    font-weight: 600;
    padding: 7px 10px;
    border: 1px #aaa solid;
    font-size: 12px;
}
.date-chooser span:first-child{
    margin-right: 15px;
}
.optional-box{
    margin: auto;
}
.optional-box input{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.optional-box p{
    display: inline-block;
    color: #aaa;
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 10px;
}
.sort-by-price i{
    font-size: 16px;
    line-height: 16px;
    margin-left: 25px;
}
.car-card .img-list{
    padding: 0 15px;
    height: 250px;
}
.car-card .desc{
    text-align: center;
    padding: 20px 0;
    margin: 0 15px;
    border: 1px solid #aaa;
    border-top: none;
    position: relative;
}
.car-card .desc:before{
    content: '';
    position: absolute;
    border-bottom: 12px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -12px;
    right: 50%;
    transform: translateX(50%);
}
.car-card .desc .p-title{
    font-size: 18px;
}
.car-card .desc .p-title:after{
    right: 50%;
    transform: translateX(50%);
}
.car-card .desc p:nth-child(2){
    color: #aaa;
    line-height: 18px;
}
.car-card .price{
    margin: 0;
    color: #aaa;
    line-height: 18px;
}
.car-card .price span{
    font-size: 28px;
    color: #E84C3D;
    font-weight: bold;
}
.filter .search{
    width: 100%;
    color: #aaa;
    font-size: 22px;
    font-weight: 100;
    border-right: 1px #aaa solid;
    border-bottom: 1px #aaa solid;
    padding: 5px 20px;
    background-color: #fcfcfc;
}
.filter-title{
    padding: 8px 20px;
    background-color: #eee;
    color: #777;
    font-size: 22px;
}
.car-type-detail ul{
    padding: 8px 20px;
    background: #fafafa;
    color: #aaa;
}
.car-type-detail li{
    list-style: none;
    margin-bottom: 5px;
}
.car-type-detail li input{
    margin-right: 5px!important;
}
.per-day-price{
    padding: 40px 20px 30px 20px;
    background: #fafafa;
}
.progress{
    height: 12px;
    border-radius: 50px;
    background-color: #efefef;
    overflow: visible;
    margin: 0;
}
.dot-val{
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-shadow: .1px .1px 2px 2px rgba(0,0,0,.2);
    background: #fff;
    position: relative;
    top: -3.5px;
}
span.dot-val:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #E84C3D;
}
span.dot-val span{
    display: inline-block;
    position: relative;
    top: -22px;
    left: 5px;
    color: #aaa;
    font-size: 12px;
}
span.first{
    left: .2%;
}
span.second{
    left: 60%;
}
span.third{
    left: 35%;
}
span.fourth{
    left: 80%;
}
.yes-no{
    padding: 30px 20px;
    background: #fafafa;
}
.passenger-count{
    padding: 40px 20px 30px 20px;
    background: #fafafa;
}
.driver{
    padding: 30px 20px;
    background: #fafafa;
}
.yes-no .row{
    margin: 0;
    color: #777;
    font-size: 16px;
}
.filter .btn-red{
    width: 100%;
    text-align: center;
}

/************************************************************************
                                RENT SINGLE CAR
************************************************************************/
#rent-single-car-header{
    background-image: url("../img/about-img/header-img2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 320px;
    position: relative;
}
#rent-single-car-header:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.7);  
}
#rent-single-car-header .row{
    height: 100%!important;
}
#rent-single-car-header .single-title{
    height: 200px!important;
}
#rent-single-car-header .title{
    top: 10%;
    transform: translateX(-50%) translateY(-10%);
    
}
#rent-single-car-header .car-name-wrapper{
    text-align: center;
}
#rent-single-car-header .car-type{
    color: #E84C3D;
    text-transform: lowercase;
    font-size: 22px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%) translateY(-38%);
}
#rent-single-car-header .price{
    margin: 0;
    color: #000;
    line-height: 18px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
}
#rent-single-car-header .price span{
    font-size: 28px;
    color: #E84C3D;
    font-weight: bold;
}

/************************************************************************
                               CAR DETAILS
************************************************************************/
#car-details{
    padding: 20px 120px; 
}
#car-details .col-md-4 .btn-red{
    display: block;
    text-align: center;
}

#car-details .pagination a{
    margin-left: 0!important;
    margin-right: 5px;
    padding: 10px 15px!important;
    background: #aaa!important;
    color: #333!important;
}
#car-details .pagination .active a{
    background: #e84c3d!important;
    color: #fafafa!important;
    z-index: 1!important;
}
.total-pricing .filter-title:first-child{
    background-color: #777;
    color: #fafafa;
}
.car-details-right p.first{
    font-size: 22px;
    font-weight: 200;
}
.car-details-right p.p-title:after{
    left: 0;
}
.car-details-right .desc{
    color: #aaa;
    font-size: 13px;
    line-height: 18px;
}
.car-details-right .btn-black{
    margin: 0;
}
.car-details-right .btn-red{
    width: 74.9%;
    position: relative;
    left: -6px;
}
.car-details-right .btn-red,.car-details-right .btn-black{
    border-radius: 0;
    font-size: 14px;
}
.car-details-right .btn-red i,.car-details-right .btn-black i{
    font-size: 20px;
    margin-left: 8px;
}

/******************************************************
                HEADER SECTION
******************************************************/
.navbar{
    padding: 0!important;
    transition: all .3s linear!important;
    border: none!important;
}
.site-nav-wrapper{
    background: rgba(255,255,255,.9);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
ul.navbar-nav>li{
    height: 100%;
}
ul.navbar-nav>li>a{
    font-family: 'Raleway',sans-serif;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.3rem 0;
    min-width: 100px;
    text-align: center;
    
}
ul.navbar-nav>li>a:focus,
ul.navbar-nav>li>a:hover{
    background: none;
}
.scrolled-navbar{
    padding: 10px 0;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top{
    background: #fff;
}
.scrolled-nav-top{
    background-color: #fff;
}

.scrolled-nav-top ul.navbar-nav>li.active>a{
    border-radius: 20px;
    background: #E84C3D;
    font-weight: 500px;
}
.logo{
    background: #fff;
    padding: 10px 0;
}
.logo-wrapper{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
.site-nav-wrapper .logo-wrapper{
    display: inline-block;
    width: 120px;
    height: 40px;
    margin: 0 30px;
/*    margin: 0 auto;*/
}
#about-us-header .collapse,#about-us-header .container,#rent-single-car-header .collapse,#rent-single-car-header .container, #rent-car-header .collapse, #rent-car-header .container, #home-header .collapse, #home-header .container{
    width: 100%;
}
#home-header .navbar{
    margin: 0!important;
}
/******************************************************
                MOBILE HEADER
******************************************************/

/**
 * style.css
 * Contains CSS to make site responsive i.e. mobile and tab friendly.
 */


.navbar-header{
    position: relative;
}


#mobile-nav-open-btn{
    font-size: 30px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 15px;
    
}
#special-menu{
    font-size: 30px;
    color: #333;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 5px;
}

#mobile-nav{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255,255,255,.9);
    transition: all .3s linear;
    overflow-y: hidden;
        
}

#mobile-nav-close-btn{
    font-family: 'Raleway',sans-serif;
    font-size: 70px;
    color: #212226;
    cursor: pointer;
    font-weight: 400;
    position: absolute;
    right: 15px;
    transition: all .3s linear;
}

#mobile-nav-content{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav li{
    margin-bottom: 20px;
}

#mobile-nav a{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display: inline;
}

#mobile-nav a:focus,
#mobile-nav a:hover,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus{
    color: #E84C3D;
    background: none;
}
/**************************************************
********************MONSTER************************
**************************************************/
#monster{
/*    height: 800px;*/
    padding: 20px 120px;
    background-image: url("../img/about-img/monster.jpg");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    position: relative;
}
#monster:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.7);  
}

.item{
    width: 300px;
    height: 200px;
    background: #fff;
}
#monster .middle{
    position: relative;
    transition: all .3s linear!important;
    right: 120px;
    z-index: 999;
    height: 300px;
    width: 600px;
}
#monster .monster-cards{
    text-align: center;
    
}
#monster .monster-card{
    background-color: #fafafa;
    padding: 0 10px 20px 10px ;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,.1);
}
#monster .monster-cards .col-md-4{
    margin: 0 10px!important;
    width: 31%!important;
}
#monster .monster-cards .p-title{
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
} 
#monster .monster-cards .icons{
    color: #fafafa;
    background-color: #E84C3D;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    font-size: 36px;
    display: inline-block;
    transform: translateY(-50%);
}
#monster .monster-cards .p-title{
    transform: translateY(-50%);
}
#monster .monster-cards .p-title:after{
    left: 46%;
    bottom: 0;
}
#monster .monster-card p:nth-child(3){
    color: #aaa;
    font-size: 12px;
    transform: translateY(-10%);
}
.left{
    position: relative;
    left: 35%;
    top: 50px;
    background: rgba(255,255,255,.5);
}
.right{
    position: relative;
    right: 20%;
    top: 50px;
    background: rgba(255,255,255,.5);
}
.left:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.right:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.owl-carousel{
/*    height: 6vh;*/
}
.owl-carousel .active{
    margin-right: 20px!important; 
}
.owl-nav{
    position: relative;
    top: -90px;
}

/***************************************************
********************FOOTER*************************
***************************************************/
#footer {
    background-color: #333333;
    color: #aaa;
    padding: 30px 0 0 0;
    position: relative;
}
#footer:after{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 10px solid #333;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
#footer .main-row{
    display: grid;
    grid-template-columns: repeat(3,4fr);
    grid-gap: 1rem;
}
#footer .dates-row{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1rem;
}
#footer .footer-gal{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    grid-gap: 0;
}
#footer .logo-t{
    color: #fff;
    font-size: 36px;
    font-weight: 900;
}
#footer .logo-text{
    font-size: 12px;
}
.section-header-left{
    
    position: relative;
}
.section-header-left p{
    font-size: 20px;
    color: #eee;
    font-weight: 300;
}
.section-header-left:after{
    content: "//";
    position: absolute;
    top: 25px;
    left: 0;
    color: #aaa;
    font-size: 16px;
    font-weight: 800;
}
.section-header-left:before{
    content: "_";
    position: absolute;
    top: 0;
    left: 14px;
    color: #aaa;
    font-size: 30px;
    font-weight: 800;
}
#footer .footer-gal{
    margin-top: 0!important;
}
#footer .footer-gal .image1{
    width: 100%;
    height: 70px;
}
#footer .dates .dates-head p{
    font-size: 10px;
    line-height: 10px;
    color: #eee;
}
#footer .dates .date p{
    font-size: 26px;
    font-weight: 200;
}
#footer .dates .date sup{
    font-size: 17px;
    color: #999;
    font-weight: 600;
}
#footer .website-info{
    display: grid;
    grid-template-columns: repeat(3,4fr);
    grid-gap: 1rem;
    background-color: #E84C3D;
    color: #fff;
}
#footer .copyright{
    line-height: 50px;
}
#footer .developer-info{
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}
#footer .lists li{
    line-height: 50px;
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
}
/************************************************************************
                                SHOWCASE
************************************************************************/
#showcase{
    background-image: url("../img/about-img/header-img2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}
#showcase:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,.9);  
}
#showcase .showcase-img{
    height: 40vh;   
}
#showcase .col-md-5, #showcase .col-md-7{
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding-left: 0!important;
}
#showcase .showcase-text{
    transform: translateY(30%);
}
#showcase .showcase-text p:first-child{
    font-size: 22px;
    color: #333;
    font-weight: 400;
}
#showcase .showcase-text p:nth-child(2){
    font-size: 32px;
    font-weight: 900;
}
#showcase .showcase-text p:nth-child(3){
    font-size: 12px;
    font-weight: 300;
    color: #aaa;
}
#showcase .showcase-text .pagination{
    margin: 0!important;
}
#showcase .showcase-text .pagination .page-link{
    margin-left: 0!important;
    margin-right: 5px!important;
}
#showcase .showcase-text .page-link{
    color: #eaeaea!important;
    background-color: #333!important;
    border-radius: 5px;
}
#showcase .showcase-text .active .page-link{
    background-color: #E84C3D!important;
}


/************************************************************************
                                ULTRA
************************************************************************/
#ultra{
    padding: 20px 120px;
}
#ultra .col-md-4{
    padding-right: 0!important;
    text-align: right;
}
#ultra .col-md-4 p{
    font-size: 32px;
    line-height: 34px;
}
#ultra .col-md-8 p{
    color: #aaa;
    font-size: 13px;
    line-height: 22px;
}