@media(max-width: 900px){
    .light-font{
        font-size: 0.8rem;
    }
    .container{
        width: 88%;
        margin: 0 auto;
    }
    .btn{
        font-size: 1rem;
    }
    #web-menu{
        display: none;
    }
    .owl-nav i{
        font-size: 0.8rem;
        padding: 0.3rem;
    }
    #showcase {
        padding-top: 0rem;
    }
    #showcase .wrapper .content .wrap .head{
        font-size: 1rem;
    }
    #showcase .wrapper .content .wrap .head span{
        font-weight: 800 !important;
        font-size: 1rem;
    }

    #showcase .wrapper .content .wrap .grid{
        display: none;
    }


    #count .wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }

    #quality .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    }

    #quality .content .card{
        padding: 2rem 0;
    }

    #models .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    #models .content .text .date{
        padding-bottom: 2rem;
    }

    #models .content .text .head p::after{
        left: 92.5%;
    }
    #last .wrapper{
        display: block;
        text-align: center;
    }
    #last .wrapper .heading{
        text-align: center;
        padding-bottom: 0.5rem;
    }


    footer .content .row{
        display: block;
    }

    footer .website-info .wrapper .social-media .lists{
        display: inline-block;
    }
    footer .website-info .wrapper{
        display: block;
        text-align: center;
    }

    /*services page*/




    #quality .container .content{
        margin: 2rem 0;
    }

    #standard .content {
        display:block;
    }
    #standard .content .images .first{
        width:200px;
        height:200px;
        transform: translate(30%,-20%);
    }
    #standard .content .images .second{
        width:200px;
        height:200px;
        transform: translate(-20%,20%);
    }





    #client .content{
        grid-template-columns: repeat(1,1fr);
        z-index: -2;
    }
    #client .content .images{
        margin-top: 4rem;
    }
    #client .content .images .third{
        width:200px;
        height:200px;
        transform: translate(30%,-20%);
    }

    #client .content .images .fourth{
        width:200px;
        height:200px;
        transform: translate(-20%,20%);
    }





    #pricing .content .cards{
        display: block;
    }

    #pricing .content .cards .card {
        padding: 1rem;
    }
    #pricing .content .cards .card .wrapper{
        border-radius: 10px 10px 0 0 !important;
    }
    #pricing .content .cards .card .wrapper .bottom ul li{
        font-size: 1rem;
        font-weight: 400;
    }



    /*event file*/


    .event-head>p::after{
        left:44% !important;
    }
    #page-header{
        padding: 4rem 0!important;
        text-align: center;
    }
    #page-header .text{
        font-size: 1.5rem;
    }

    #subscribe .content .wrapper input{
        padding: 1rem;
    }
    #subscribe .content .wrapper>*{
        padding: 0.5rem 0;
    }
    #subscribe .content .wrapper .name input{
        width: 20.5rem;
        border-radius: 10px 10px 10px 10px;
    }
    #subscribe .content .wrapper .email input{
        width: 20.5rem;
        border-radius: 10px 10px 10px 10px;
    }

    #subscribe .content .wrapper .subscribe-btn div{
        width: 20.5rem;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        font-weight: 500;
    }
    #page-header>p::after{
        left:45%;
    }

    #gallery .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    /*mobile menu*/

    #mobile-menu{
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
        height:100%;
        display: none;
        transition: 0.3s!important;
        text-align: center;
    }
    #mobile-menu .menu-container{
    }
    #mobile-menu .cross{
        float: right;
        display: inline-block;
        padding: 2rem;
        font-size: 2.5rem;
        cursor: pointer;
        transition: 0.3s !important;
    }
    #mobile-menu .cross:hover{
        color: #ff4d3d;
    }
    #mobile-menu ul li{
        list-style-type: none;
    }
    #mobile-menu ul li a{
        text-decoration: none;
        font-family: Roboto;
        color: #000;
        padding: 0.8rem 1.8rem;
        display: inline-block;
        font-size: 1.2rem;
    }

    #mobile-header {
        background-color: #fff;
        z-index: 99999;
        transition: 0.3s;
        display: block;
    }
    #mobile-header .mobile-main-logo{
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    #mobile-header .mobile-main-logo a img{
        transform: translateX(15%);    
    }

    #mobile-menu{
        position: fixed;
    }
    #mobile-menu .menu-container ul li a:hover{
        color:#ff4d3d;
        transition: .3s;
    }

    #mobile-header .hamburger{
        cursor: pointer;
        padding: 1.2rem;
        font-size: 1.8rem;
        z-index: 99999;
    }
    .mobile-s-logo{
        padding: 1rem 0;
        display: none;

    }

    /*contact page*/

    #get-in-touch .wrapper .card{
        text-align: left;
    }
    #get-in-touch .wrapper{
        display: block;
        text-align: center;
    }


    #contact .wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}











