/***********************Global classes***************************/
*{
    padding: 0px;
    margin: 0px;
    font-family: "roboto";
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    overflow-x: hidden;
}
.bold{
    font-weight: 800;
}
#page-header{
    padding: 4rem !IMPORTANT;
    padding-top: 9rem!IMPORTANT;
    text-align: center;
}
#page-header>p{
    font-size: 3rem;
    font-weight: 300;
}
#page-header img{
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.1;
}
#page-header>p::after{
    content: "";
    width: 3rem;
    height: 1px;
    margin: 0 auto;
    position: absolute;
    top: 110%;
    left: 48.5%;
    background-color:#000;
}


.container{
    width: 73%;
    margin: 0 auto;
}

.clearfix{
    clear: both;
}
.width-100{
    width: :100 !important;
}


.section-header{
    text-align: center;
    font-weight: 300;
}
.light-section-header{
    text-align: center;
    font-weight: 300;
    color: #fff;
    background-color: #ff4d3d;
}
.light-section-header>p{
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.08rem;
}
.light-section-header>p::after{
    content: "--//--";
    letter-spacing: 0;
    position: absolute;
    top: 100%;
    left: 48%;
    font-size: 1rem;
    font-weight: 600;
}
.light-section-header .light-font p{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2.5rem;
}

.section-header>p{
    position: relative;
    font-size: 2rem;
    letter-spacing: 0.08rem;
}
.section-header>p::after{
    content: "--//--";
    letter-spacing: 0;
    position: absolute;
    top: 100%;
    left: 48%;
    font-size: 1rem;
    font-weight: 600;
}
.light-font{
    color: #aaa;
    font-weight: 600;
    font-size: 1rem;
    margin: 2rem 0;
}

.section-header-left{
    font-size: 2rem;
    font-weight: 300;
    position: relative;
}

.section-header-left::after{
    content: "//--";
    position: absolute;
    left: 0;
    font-size: 1rem;
    font-weight: 800;
}


.inline-block{
    display: inline-block;
}
.pull-left{
    float:left !important;;
}
.pull-right{
    float: right !important;
}
.relative{
    position: relative !important;
}
.absolute{
    position: absolute !important;
}


.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.font-white{
    color: #fff !important;
}
.red-font{
    color: #ff4d3d;
}
.font-weight-400{
    font-weight: 400 !important;
}


.p-tb-1{
    padding: 1rem 0 !important;
}
.p-tb-2{
    padding: 2rem 0 !important;
}
.p-tb-3{
    padding: 3rem 0 !important;
}
.p-tb-4{
    padding: 4rem 0 !important;
}
/*button*/
.btn{
    padding: 0.8rem 1rem;
    background-color: #ddd;
    color: #000;
    border-radius: 5px;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn.one:hover{
    background-color: #222222 !important;
    color: #fff;
}
.btn.two:hover{
    background-color: #f01400 !important;
    color: #fff;
}
.btn.three:hover{
    background-color: #737373 !important;
    color: #fff;
}


.service-head{
    background-image: url("../assets/images/car9.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.service-head:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
}


/***********************quality section**************************/
#quality{
    padding: 2rem 0;
}
#quality .content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
#quality .content {
    margin: 4rem 0;
}
#quality .content .card .right-part{
    margin-left: 2.3rem;
}
#quality .content .card .right-part .card-header p{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
}
#quality .content .card .right-part .card-header p::after{
    content: "";
    position: absolute;
    width: 2rem;
    height:2px;
    background-color: #000;
    top:22px;
    left: 0;
}
#quality .content .card .right-part .card-content{
    color: #777;
    font-weight: 300;
    margin-top: 1rem;
}
#quality .content .card .icon i{
    font-size: 1.5rem;
    color: red;
    padding: 0;
    margin: 0;
    height:100%;
}

/***********************standards section**************************/

#standard{
    background-image: url("../assets/images/car20.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: -2;
}

#standard:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.85);
    z-index: -1;
}
#standard .content{
    opacity: 1;
    z-index: 2;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
#standard .content .images .first{
    border-radius: 52%;
    width: 325px;
    height: 325px;
}
#standard .content .images .second{
    border-radius: 100%;
    transform: translate(50%,-70%);
    width: 325px;
    height: 325px;
}
#standard .content .info{
    z-index: 1;
    padding: 2rem;
    font-family: "roboto";
    margin-bottom: 3.3rem;
}

#standard .content .info .text{
    padding-top: 0 2rem;
    cursor: pointer;
}

#standard .content .info .text .lorem{
    padding: 1rem 0.7rem;
    background-color: #ddd;
    color: #777;
    font-weight: 500;
}

#standard .content .info .text .lorem i{
    font-size: 0.8rem;
    margin : 0.5rem;
}

/***********************client section**************************/

#client{
    background-image: url("../assets/images/car1.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
#client:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
}
#client .bg-image{
    width: 100%;
    height: 93%;
}
#client .bg-image>img{
    background-size: cover;
    opacity: 0.2;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#client .content{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#client .content .info {
    padding: 0rem 1rem;
    z-index: 2;
}
#client .content .info>p{
    padding: 2rem 0;
    user-select: none;
}

#client .content .info .hilights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-weight: 500;
}
#client .content .info .hilights i{
    color: #ff4d3d
       ;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
#client .content .images {
    padding: 2rem 0;
    z-index: 299!important;
}
#client .content .images img{
    user-select: none;
    border-radius: 100%;
}

#client .content .images .third{
    width: 325px;
    height: 325px;
}

#client .content .images .fourth{
    transform: translate(50%,-50%);
    width: 325px;
    height: 325px;
    user-select: none;
}

/***********************pricing section**************************/
#pricing{
/*    transform: translateY(-15%);*/
}
#pricing .content{
    background-image: url("../assets/images/bg-wall.jpg");
    background-size: cover;
    background-position:center;
}
#pricing .content .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    
} 
.one{
    background-color: #555555;
}
.two{
    background-color: #ff4d3d;
}
.three{
    background-color: #999999;
}
#pricing .content .cards .card{
    color: #fff;
}
#pricing .content .cards .card .wrapper{
    background-color: #fff;
}
#pricing .content .cards .card .wrapper .top{
    width:100%;
    height: 100%;
    border-radius: 10px 10px 0 0 !important;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);
    z-index: 999!important;
}
#pricing .content .cards .card .wrapper .top{
    padding: 2rem 0;
}

#pricing .content .cards .card .wrapper .card-head{
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 0;
    box-sizing: border-box;
    position: relative;
}
#pricing .content .cards .card .wrapper .card-head>p{
}
#pricing .content .cards .card .wrapper .card-head::after{
    content: "";
    letter-spacing: 0;
    position: absolute;
    margin: 0.3rem 0;
    top: 110%;
    left: 43%;
    width: 3rem;
    height: 2px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
}
#pricing .content .cards .card .wrapper .pricing{
    padding: 0.2rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}

#pricing .content .cards .card .wrapper .duration{
    font-size: 0.8rem;
}

#pricing .content .cards .card .wrapper .bottom{
    padding: 1.5rem 0;
    background-color: #fff;
    color: #000;
    z-index: -111!iportant;
    margin: 5px 0;
}
#pricing .content .cards .card .wrapper .bottom ul{
    padding: 0.5rem 1rem;
}
#pricing .content .cards .card .wrapper .bottom ul li{
    list-style: none;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ddd;
    font-size: 0.7rem;
    font-weight: 500;
}
#pricing .content .cards .card .wrapper .bottom ul li:nth-child(odd){
    background-color: #eeeeee;
}


/***********************last section**************************/

#last .wrapper{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#last .wrapper .heading{
    grid-column: 1/span 4;
    font-size: 2.3rem;
    font-weight: 300;
    padding: 0 2rem;
}
#last .wrapper .text{
    grid-column: 5/span 8;
    color: #777;
    line-height: 1.5rem;
}


/**************************************************************************************************************************************************************************************************Events File*********************************/

/*********************************Page header**********************************/
.event-head{
    padding: 3rem !important;
}
.event-head{
    background-image: url("../img/about-img/quality.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    z-index: -2;
}

.event-head:before{
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.85);
}
#page-header .time p{
    display: inline-block;
}
#page-header{
    border-bottom: 20px solid #ddd;
}
#page-header img{
    width: 100%;
    height: 100%;
}
#page-header .time{
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 800;
    color: #ff4d3d;
}
#page-header .time span{
    position: relative;
}

#page-header .time .days::after{
    content: "DAYS";
    position: absolute;
    top:90%;
    transform: translateX(-140%);
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
}

#page-header .time .hour::after{
    content: "HOURS";
    position: absolute;
    top:90%;
    transform: translateX(-110%);
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
}
#page-header .text::after{
    content: "";
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
#page-header .time .minute::after{
    content: "MINUTES";
    position: absolute;
    top:90%;
    transform: translateX(-100%);
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
}

#page-header .icon>i{
    color: #ccc;
    font-size: 2rem;
    font-weight: 100;
}

#page-header .text{
    font-size: 2rem;
}

/*********************************model section********************************/
#models p{
    display: block;
    padding: 0.5rem 0;
}
#models .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#models .content div{
    line-height: 0.5rem !important;
}
#models .content img{
    width: 100%;
    height: 100%;
}

#models .content .text{
    padding: 2rem;
}

#models .content .text .date{
    font-size: 2.5rem;
    font-weight: 300;
    color: #777;
    padding-bottom: 4rem;
}

#models .content .text .head{
    font-weight: 600;
}

#models .content .text .head p::after{
    content: "";
    width: 2rem;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    top: 140%;
    left: 95.5%;
    background-color:#000;
}

#models .content .text .head .first::after{
    left: 0%;
}

#models .content .text .info{
    margin-top: 2rem;
    line-height: 20px !important;
    width: 70%;
    color: #999;
}
#models .content .text .icon{
    border: 1.5px solid #777;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: inline-block;
}
#models .content .text .icon i{
    font-size: 1rem;
    padding: 0.5rem;
    color: #777;
}

/*********************************subscribe section****************************/

#subscribe{
    background-image: url("../assets/images/inside.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

#subscribe .content{
    padding: 5rem 0;
}

#subscribe .content .wrapper{
    background: #ff4d3d;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0.5rem;
}
#subscribe .content .wrapper>div{
    display: inline-block;
}

#subscribe .content .wrapper>.name>input::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    opacity: 0.2;
}

#subscribe .content .wrapper input{
    padding: 1.5rem;
    z-index: 999;
    font-size: 1.5rem;
    border: 0px solid #fff;
    background-color: transparent;
}
#subscribe .content .wrapper .name input{
    border-radius: 10px 0 0 10px;
    width: 20rem;
    background-color: #fff;
}
#subscribe .content .wrapper .name input::placeholder{
    color: #777;
}

#subscribe .content .wrapper .email input{
    width: 28rem;
    background-color: #fff;
}
#subscribe .content .wrapper input:focus{
    outline: none;
}
#subscribe .content .wrapper .subscribe-btn div{
    width: 14.6rem;
    padding: 1.95rem 1rem;
    background-color: #fff;
    color: #000;
    font-size: 0.8rem;
    border-radius: 0 10px 10px 0;
    transform: translateY(-4%);
    cursor: pointer;
}

/*********************************gallery section******************************/

#gallery .images{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

#gallery .images img{
    width: 100%;
    height: 18rem;
}

#gallery .images img:nth-child(2){
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    height: 100%;
}

#gallery .images img:nth-child(3){
    grid-column: 4/span 2;
}

/**************************************************************************************************************************************************************************************************Events File*********************************/

.contact-head{
    background-image: url("../assets/images/car21.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.contact-head:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
}

/*********************************get in touch******************************/

#get-in-touch{
    background-color:#ff4d3d; 
}
#get-in-touch .wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    color: #fff;
} 
#get-in-touch .wrapper .card .contact-logo{
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.8rem;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 3.5rem;
    vertical-align: middle;
    transform: translateY(-20%);
}
#get-in-touch .wrapper .card .contact-logo i{
    display: inline-block;
    font-size: 1.5rem;
}
#get-in-touch .wrapper .card .info{
    display: inline-block;
    margin-top: 0.5rem;
    
}

#get-in-touch .wrapper .card .info .first{
    font-size: 0.8rem;
    padding: 0.5rem 0;
    font-weight: 600;
}
#get-in-touch .wrapper .card .info .second{

    font-size: 1.5rem;

}

/*********************************Contact*************************************/

#contact .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#contact .wrapper>div{
    padding: 4rem 0;
}
#contact{
    background-image: url("../assets/images/pic22.jpg");
    background-size: cover;
    background-position:middle;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#contact:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
}


/*********************************Touch*/

#contact .wrapper .touch{
    z-index: 999;
}
#contact .wrapper .touch .content .card {
    margin: 2rem 0;
}
#contact .wrapper .touch .content .card .icon{
    display: inline-block;
}
#contact .wrapper .touch .content .card .icon i{
    font-size: 1.5rem;
    color: red;
    padding: 0;
    height:100%;
}
#contact .wrapper .touch .content .card .right-part{
    display: inline-block;
    margin-left: 1.8rem;
}
#contact .wrapper .touch .content .card .right-part .card-header p{
    text-transform: uppercaseuppercase;
    font-size: 0.8rem;
    font-weight: 600;
    position: relative;
}
#contact .wrapper .touch .content .card .right-part .card-header p::after{
    content: "";
    position: absolute;
    width: 2rem;
    height:2px;
    background-color: #000;
    top:22px;
    left: 0;
}
#contact .wrapper .touch .content .card .right-part .card-content{
    font-weight: 400;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}
#contact .wrapper .touch .content .card .right-part .card-content ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.3rem;
}


/*********************************Message*/

#contact .wrapper .message{
    z-index: 999;
}
#contact .wrapper .message .inputs>*{
    margin: 0.5rem 0;
    border: 0px solid #fff;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.1);
}
#contact .wrapper .message .inputs>*::placeholder{
    color: #aaa !important;
}
#contact .wrapper .message .inputs>*:focus{
    outline: none;
}
#contact .wrapper .message .inputs input{
    width:70%;
    padding: 0.7rem;
    font-size: 1.2rem;
}
#contact .wrapper .message .inputs textarea{
    padding: 0.7rem !important;
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
}

#contact .wrapper .message .inputs .width-100{
    width: 100%;
    padding: 5rem 0.8rem;
}

#contact .wrapper .message .two{
    color: #fff !important;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#contact .maps{
    width: 100%;
    z-index: 9999;
}

#maps{
    width: 100%;
}


/**************************************************************************************************************************************************************************************************Home File***********************************/

/***#showcase******************************Showcase section*****************************/
#showcase {
    padding-top: 3rem;
}
#showcase .wrapper{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
#showcase .wrapper .image{
    height: 100%;
}
#showcase .wrapper .image img{
    height: 100%;
    width: 100%;
}

#showcase .wrapper .content{
    background-image: url("../assets/images/inside.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
    
}

#showcase .wrapper .content::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.9);
}

#showcase .wrapper .content .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    /*overlay*/
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 2rem;
    z-index: 9999;
}
#showcase .wrapper .content .wrap p{
    display: block;
}
#showcase .wrapper .content .wrap .head{
    font-size: 2rem;
    font-weight: 300;
    z-index: 999;
    color: #000;
}

#showcase .wrapper .content .wrap .head span{
    font-weight: 800 !important;
    font-size: 3.5rem;
}
#showcase .wrapper .content .wrap .light-font{
    margin: 0;
    width: 70%;
}

#showcase .wrapper .content .wrap .grid{
    margin-top: 1rem;
}
.owl-nav i{
    font-size: 1rem;
    padding: 0.8rem;
}
.owl-nav .owl-prev,.owl-nav .owl-next{
    background: rgba(0,0,0,0.5)!important;
}
.owl-nav .owl-prev{
    position: absolute;
    top:65%;
    transform: translateY(-50%);
    left:0;
}
.owl-nav .owl-next{
    position: absolute;
    top:65%;
    transform: translateY(-50%);
    right:0;
}

/*********************************Count section*****************************/
#count {
    border-top: 2rem solid #ddd;
    transform: translateY(-17%);
    overflow: hidden;
}
#count .wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

#count .wrapper .card .red-font{
    font-weight: 800!important;
    font-size: 3rem;
}

#count .wrapper .card .card-header{
    position: relative;
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0.8rem;
    padding: 0.5rem 0;
}
#count .wrapper .card{
    padding: 3rem 0;
}
#count .wrapper .card .light-font p{
    font-weight: 400;
}
#count .wrapper .card .card-header::before{
    content: "";
    position: absolute;
    top:100%;
    width: 2rem;
    height: 2px;
    background-color: #000;
}
#count .wrapper .center{
    background-color: #eee;
}
#count .wrapper .center .card-header::before{
    left: 45%;
}
#count .wrapper .left .card-header::before{
    left:0;
}
#count .wrapper .right .card-header::before{
    right:0;
}



/*********************************footer section*****************************/

footer {
    background-color: #333333;
    color: #aaa;
}
footer .content{
    padding: 2rem 0;
}
footer .content .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}
footer .content .row .text{
    line-height: 2rem;
    color: #888;
}
footer .content .row .logo-t{
    font-weight: 800;
    font-size: 4rem;
    color: #fff;
}
footer .content .row .head{
    color: #fff;
    margin-top: 1rem;
    font-size: 1.8rem;
}
footer .content .row .dates{
    padding: 1rem 0;
}
footer .content .row .dates .image{
    width: 4rem;
    height: 4rem;
}
footer .content .row .dates .image img{
    width: 100%;
    height: 100%;
}
footer .content .row .section-header-left{
    padding-bottom: 1.3rem!important;
}
footer .content .row .dates{
    display: flex;
    justify-content: space-between;
}
footer .content .row .dates .dates-head{
    color: #fff;
}
footer .content .row .dates .date{
    font-size: 2rem;
    font-weight: 300;
    color: #888;
}
footer .content .row .dates .date sup{
    font-size: 1rem;
    font-weight: 600;
    color: #555;
}

footer .content .row .image-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    padding: 1rem 0;
}

footer .content .row .image-grid .image{
    width: 5.5rem;
    height: 5.5rem;
}

footer .content .row .image-grid .image img{
    height: 100%;
    width: 100%;
}


footer .website-info {
    background-color: #ff4d3d;
}
footer .website-info .wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
footer .website-info .wrapper>*{
    padding: 2rem 0;
}
footer .website-info .wrapper .copyright{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 600;
}
footer .website-info .wrapper .developer-info{
    font-size: 1rem;
    color: #fff;
}
footer .website-info .wrapper .developer-info strong{
    font-weight: 800;
}

footer .website-info .wrapper .social-media .lists li{
    list-style-type: none;
    display: inline-block;
    color: #fff !important;
}
footer .website-info .wrapper .developer-info a{
    text-decoration: none;
    color: #fff;
}

/****************************************************************************************************************NAVBAR****************************************/
/******************************************************************************/
#web-menu{
    font-family: 'Raleway',sans-serif !important;
    width: 100%;
    transition: 0.4s !important;
    position: fixed;
    background-color: #fff;
    z-index: 999999;
}
#web-menu .logo{
    width: 100%;
}
#web-menu .logo .container{
    display: flex;
    justify-content: center;
}
#web-menu .main-logo{
    padding: 0.8rem;
}
#web-menu .main-logo .container img{
    width:15rem;
    height: 3.8rem;
}
#web-menu .menu-list {
    background-color: #fff;
    width: 100%;
    z-index: 99999;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
#web-menu .menu-list .container ul{
    display: inline-block;
    font-size: 0.8rem;
}
#web-menu .menu-list .container ul li{
    list-style-type: none;
    font-family: raleway!important;
}
#web-menu .menu-list .container ul li a{
    padding: 1rem 1.8rem;
    display: inline-block;
    text-decoration: none;
    color: #000 ;
    font-weight: 400;
}

.active{
    background-color: #ff4d3d;
    color: #fff !important;
}

#web-menu .menu-list .logo-s{
    width: 8rem;
    height: 100%;
    margin-top: 0.3rem;
    margin-left: 1rem;
    display: none;
}

#web-menu .menu-list .logo-s img{
    width: 100%;
}

.none{
    display: none;
}

.stickeyy{
    position: sticky;
    top: 0;
    left: 0;
}


/*mobile menu*/
#mobile-header,#mobile-menu{
    display: none;
}
















@media(max-width: 900px){
    .light-font{
        font-size: 0.8rem;
    }
    .container{
        width: 88%;
        margin: 0 auto;
    }
    .btn{
        font-size: 1rem;
    }
    #web-menu{
        display: none;
    }
    .owl-nav i{
        font-size: 0.8rem;
        padding: 0.3rem;
    }
    .owl-nav .owl-prev{
        top: 50%;
    }
    .owl-nav .owl-next{
        top: 50%;
    }
    #showcase {
        padding: 2rem 0;
    }
    #showcase .wrapper{
        height: 40vh;
        width: 100%;
        display: grid;
        grid-gap: 0px;
        grid-template-columns: repeat(2,1fr);
    }
    
    #showcase .wrapper .image{
        height: 100%;
    }
    
    #showcase .wrapper .content .wrap {
        width: 100%;
        padding: 1rem;
    }
    #showcase .wrapper .content .wrap .head{
        font-size: 1.3rem;
    }
    #showcase .wrapper .content .wrap .head span{
        font-weight: 800 !important;
        font-size: 1rem;
    }
    #showcase .wrapper .content .wrap .light-font{
        font-size: 0.7rem;
    }
    #showcase .wrapper .content .wrap .grid{
        display: none;
    }


    
    
    
    #count{
        transform: translateY(-4%);
    }
    #count .wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }

    #quality .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 2rem;
    }

    #quality .content .card{
        padding: 2rem 0;
    }

    #models .content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    #models .content .text .date{
        padding-bottom: 2rem;
    }

    #models .content .text .head p::after{
        left: 92.5%;
    }
    #last .wrapper{
        display: block;
        text-align: center;
    }
    #last .wrapper .heading{
        text-align: center;
        padding-bottom: 0.5rem;
    }


    footer .content .row{
        display: block;
    }
    footer .website-info .wrapper>*{
        padding: 1rem;
    }
    footer .website-info .wrapper .social-media .lists{
        display: inline-block;
    }
    footer .website-info .wrapper{
        display: block;
        text-align: center;
    }

    /*services page*/




    #quality .container .content{
        margin: 2rem 0;
    }

    #standard .content {
        display:block;
        padding: 5rem 0;
    }
    #standard .content .images .first{
        width:200px;
        height:200px;
        transform: translate(50%,-20%)!important;
    }
    #standard .content .images .second{
        width:200px;
        height:200px;
        transform: translate(9%,-54%)!important;
    }
    #standard .content .info{
        padding: 0 1rem;
    }





    #client .content{
        grid-template-columns: repeat(1,1fr);
        z-index: -2;
    }
    #client .content .images{
        margin-top: 4rem;
    }
    #client .content .images .third{
        width:200px;
        height:200px;
        transform: translate(50%,-20%)!important;
    }

    #client .content .images .fourth{
        width:200px;
        height:200px;
        transform: translate(9%,-54%)!important;
    }





    #pricing .content .cards{
        display: block;
    }

    #pricing .content .cards .card {
        padding: 1rem;
    }
    #pricing .content .cards .card .wrapper{
        border-radius: 10px 10px 0 0 !important;
    }
    #pricing .content .cards .card .wrapper .bottom ul li{
        font-size: 1rem;
        font-weight: 400;
    }



    /*event file*/


    .event-head>p::after{
        left:44% !important;
    }
    #page-header{
        padding: 4rem 0!important;
        text-align: center;
    }
    #page-header .text{
        font-size: 1.5rem;
    }

    #subscribe .content .wrapper input{
        padding: 1rem;
    }
    #subscribe .content .wrapper>*{
        padding: 0.5rem 0;
    }
    #subscribe .content .wrapper .name input{
        width: 14.5rem !important;
        border-radius: 10px 10px 10px 10px;
    }
    #subscribe .content .wrapper .email input{
        width: 14.5rem !important;
        border-radius: 10px 10px 10px 10px;
    }

    #subscribe .content .wrapper .subscribe-btn div{
        width: 14.5rem !important;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
        font-weight: 500;
    }
    #page-header>p::after{
        left:45%;
    }

    #gallery .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    /*mobile menu*/

    #mobile-menu{
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
        height:100%;
        display: none;
        transition: 0.3s!important;
        text-align: center;
    }
    #mobile-menu .menu-container{
    }
    #mobile-menu .cross{
        float: right;
        display: inline-block;
        padding: 2rem;
        font-size: 2.5rem;
        cursor: pointer;
        transition: 0.3s !important;
    }
    #mobile-menu .cross:hover{
        color: #ff4d3d;
    }
    #mobile-menu ul li{
        list-style-type: none;
    }
    #mobile-menu ul li a{
        text-decoration: none;
        font-family: Roboto;
        color: #000;
        padding: 0.8rem 1.8rem;
        display: inline-block;
        font-size: 1.2rem;
    }

    #mobile-header {
        background-color: #fff;
        z-index: 99999;
        transition: 0.3s;
        display: block;
    }
    #mobile-header .mobile-main-logo{
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    #mobile-header .mobile-main-logo a img{
        transform: translateX(15%);    
    }

    #mobile-menu{
        position: fixed;
    }
    #mobile-menu .menu-container ul li a:hover{
        color:#ff4d3d;
        transition: .3s;
    }

    #mobile-header .hamburger{
        cursor: pointer;
        padding: 1.2rem;
        font-size: 1.8rem;
        z-index: 99999;
    }
    .mobile-s-logo{
        padding: 1rem 0;
        display: none;

    }

    /*contact page*/

    #get-in-touch .wrapper .card{
        text-align: left;
    }
    #get-in-touch .wrapper{
        display: block;
        text-align: center;
    }


    #contact .wrapper{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
    footer .content .row .dates {
        font-size: 0.85rem;
    }
    footer .content .row .dates dates-head{
        margin-left: 0.8rem;
    }
    footer .content .row .dates .date{
        margin-left: 0.2rem;
        margin-top: 0.5rem;
    }
    footer .content .row .dates .date{
        font-size: 1.5rem;
    }
    footer .content .row .image-grid{
        grid-template-columns: repeat(4,1fr);
    }
    footer .content .row .image-grid .image{
        width: 5rem;
        height: 5rem;
    }
    #get-in-touch .wrapper .card .info .second{
        font-size: 1.2rem;
    }
    
}











